.App {
  text-align: center;
}

.App > .container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.App > .container > .board{
}

.App > .container > .commandQueue{
  padding: 32px;
  width: 300px;
}

.App > .container > .controls{
  width: 400px;
  padding: 32px;
  text-align: left;
}

.App > .container > .controls .row{
  display: flex;
  justify-content: center;
}

.App > .container > .controls button{
  padding: 8px;
  margin: 4px 0;
  min-width: 66px;
  background: none;
  border: 1px solid white;
  color: white;
}

.App > .container > .controls button:hover{
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}

.App > .container > .controls button.submit{
  width: 200px;
  font-weight: bold;
  background: white;
  color: #282c34;
}